@tailwind base;
@tailwind components;
@tailwind utilities;

.open{
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    width: 70vw;
    opacity: 1;
    z-index: 9999;
    background-color: white;
}
nav{
    opacity: 0;
    
}
